@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f2eb;
  --foreground: #212842;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
