@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0e7d5;
  --foreground: #212842;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
